<html>
  <head>
    <title>Carcassonne</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <script src="static/deps/system.src.js"></script>
   <script>
   	System.config({
   		packages: {
   			'static': {
   				defaultExtension: 'js'
   			}
   		}
   	});
   	System.import('static/main.js').
   		then(null, console.error.bind(console));
   </script>
  </head>
  <body>
  	<div id="gameContainer">
	  <div id="playingArea">
	    <div id="board"></div>
	    <div id="player1Container" class="currentTileContainer">
	      <img class="leftTurn" src="static/img/turn-left.png">
	      <div class="currentTile"></div>
	      <img class="rightTurn" src="static/img/turn-right.png">
	    </div>
	  </div>
 	  <div id="menu">
 	  	<div id="endTurn"><button id="endTurnButton">End turn</button></div>
 	  </div>
    </div>
  </body>
</html>
